.header {
  height: 500px;
  background: #8bd8bd;
  padding-top: 60px;
}
.header .row {
  align-items: center;
}
.sc-img {
  width: 620px;
  height: 440px;
}
.enroll-btn{
  background-color: #243665;
  color: white;
  height: 50px;
}

.header .header-text h4 {
  font-size: 41px;
  width: 100%;
  color: #243665;
  font-weight: 700;
}
.header .header-text p {
  font-size: 17px;
  line-height: 15px;
}
@media screen and (max-width: 991px) {
  .sc-img {
    display: none !important;
  }
  .header {
    height: 300px;
  }
}
/*program info section*/
.program-info {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 70px;
}
.program-info .row {
  align-items: flex-start;
  justify-content: center;
}
.p-image {
  align-items: center;
}
.p-image img {
  border-radius: 50%;
}
.p-row {
  margin-bottom: 90px;
}
.p-one {
  width: 300px;
}
.p-three {
  order: 2;
  width: 300px;
}
.p-four {
  order: 1;
}
.p-five {
  width: 300px;
}

/*more information section */
.features-blue {
  color: black;
  background-color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}
.features-blue p {
  color: black;
}
.features-blue h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
  margin-bottom: 20px;
}
.features-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 60px;
}
.features-blue .item {
  min-height: 100px;
  margin-bottom: 40px;
}
.features-blue .item .name {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: inherit;
}
.features-blue .item .description {
  font-size: 13px;
  margin-bottom: 0;
}
.features-blue .item .icon {
  font-size: 40px;
  color: #ffcc1e;
  float: left;
  margin-left: -65px;
}
/*highlight section */
.highlight-clean {
  color: black;
  background-color: white;
  padding: 80px 0;
  height: auto;
}
.highlight-clean p {
  color: black;
  font-size: 16px;
}
/*services section */
.services-cover {
  background-color: #f3f3f2;
  padding: 10px 0;
}
.services {
  text-align: center;
}
.services-header {
  margin-bottom: 50px;
}
.services-header h3 {
  font-size: 50px;
}
.services-header p {
  font-size: 25px;
}

.services ul {
  text-align: center;
  display: inline-block;
  line-height: 40px;
}
.services ul li {
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .services-header h3 {
    font-size: 30px;
  }
  .services-header p {
    font-size: 20px;
  }
  .services-cover {
    padding: 1px 0;
  }
  .services ul li {
    font-size: 14px;
  }
  .services-header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .highlight-clean {
    height: auto;
  }
  .highlight-clean p {
    font-size: 17px;
  }
  .highlight-clean h2 {
    font-size: 30px;
  }
}
.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
  font-size: 50px;
}
.highlight-clean .intro {
  font-size: 10px;
  max-width: 900px;
  margin: 0 auto 25px;
}
/*gains section*/
.gain-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 100px 0 100px 0;
  flex-wrap: wrap;
}
.benefitItem {
  width: 250px;
  height: 300px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 0 20px #f3f3f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
}
.benefitItem .line {
  height: 3px;
  width: 40px;
  background-color: black;
  margin: 30px 0;
}
.benefitItem:nth-child(2) {
  background-color: #ffcc1e;
  color: white;
}
.b-exp {
  font-size: 15px;
}
/*pricing section */
.pricing {
  margin-bottom: 100px;
  margin-top: 50px;
}
.price-header {
  margin-bottom: 50px;
  font-size: 35px;
}
.price {
  height: 480px;
  width: 250px;
  background-color: #80808013;
  padding: 0 0;
}
.pricing .row {
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.price-top {
  height: 75px;
  background-color: #243665;
  position: relative;
  overflow: hidden;
}
.price-top .tag {
  background-color: black;
  width: 150px;
  height: 20px;
  color: white;
  position: absolute;
  transform: rotate(48deg);
  top: 19px;
  left: 150px;
  font-size: 12px;
}
.price-info {
  line-height: 2px;
  margin-top: 17px;
}
.price-info h4 {
  font-size: 20px;
  color: white;
}
.price-info p {
  font-size: 14px;
  color: white;
}
.price-body {
  padding: 20px 30px;
}
.price-amt {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.benefit-item {
  font-size: 14px;
  line-height: 13px;
}
.benefit-item p {
  line-height: 15px;
}
.benefit-item p i {
  margin-right: 10px;
}
hr {
  margin-bottom: 11px;
}
.started {
  width: 100%;
  margin-top: 20px;
  border: none;
  height: 40px;
  background-color: #243665;
  color: white;
}
.started:hover {
  background-color: transparent;
  border: 2px solid #243665;
  color: #243665;
}
.price:nth-child(2) .price-body .started {
  margin-top: 78px;
}
.price:nth-child(3) .price-body .started {
  margin-top: 152px;
}

/* media queries for responsiveness */
@media screen and (max-width: 767px) {
  .p-image {
    text-align: center;
    margin-bottom: 10px;
  }
  .p-three {
    order: inherit;
  }
  .p-four {
    order: inherit;
  }
  .features-blue {
    padding-bottom: 10px;
  }
  .features-blue h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
  .features-blue .intro {
    margin-bottom: 40px;
  }
  .features-blue .item {
    min-height: 0;
  }
}
@media screen and (max-width: 425px) {
  .header-text h4 {
    font-size: 40px !important;
  }
  .price-header {
    font-size: 25px;
  }
}
