.content .intro-img img {
  width: 100%;
  text-align: center;
}
.content .row {
  align-items: center;
}
/*#8BD8BD*/
.top-text {
  height: 510px;
  background-image: linear-gradient(to right, #24366591, #24366591),
    url("../images/teacher.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-text h4 {
  font-size: 80px;
  color: white;
  font-weight: lighter;
}
.top-text .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}
.buttons button {
  border-radius: 0;
}
@media screen and (max-width: 424px) {
  .top-text .h4 {
    font-size: 40px;
  }
  .top-text {
    height: 600px;
    overflow: hidden;
  }
}
@media screen and (max-width: 498px) {
  .big-header{
    font-size: 50px !important;
  }
  .tag-line{
    font-size: 15px !important;
  }
}
.intro-text {
  text-align: left;
  font-family: "Fira Sans", sans-serif;
}
.intro-text .dis {
  font-size: 60px;
  margin-bottom: 28px;
  color: #243665;
  font-weight: 800;
  overflow-y: hidden;
}
.intro-text .four {
  font-size: 25px;
  font-weight: 500;
  overflow-y: hidden;
  margin-bottom: 7px;
}

.intro-text .list {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 5px;
}
.get-started {
  margin-top: 15px;
  background: #243665;
  width: 150px;
  padding: 5px;
  color: white;
  height: 50px;
  border-radius: 0;
  font-weight: 600;
}
/*media query for top image*/
@media screen and (max-width: 991px) {
  .intro-text {
    margin-bottom: 20px;
  }
  .content {
    margin-top: 20px;
  }
}
@media screen and (max-width: 473px) {
  .intro-text .dis {
    font-size: 45px;
  }
  .intro-text .four {
    font-size: 22px;
  }
  .intro-text .list {
    font-size: 17px;
  }
  .get-started {
    margin-bottom: 30px;
  }
}
/*why choose us section*/
.projects-horizontal {
  color: #313437;
  background-color: #fff;
}

.projects-horizontal p {
  color: #7d8285;
  font-size: 20px;
}

.projects-horizontal h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .projects-horizontal h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.projects-horizontal .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 10px;
}

.projects-horizontal .projects {
  padding-bottom: 40px;
}

.projects-horizontal .item {
  padding-top: 60px;
  min-height: 160px;
}

@media (max-width: 767px) {
  .projects-horizontal .item {
    padding-top: 40px;
    min-height: 160px;
  }
}

.projects-horizontal .item .name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  color: inherit;
}

@media (max-width: 991px) {
  .projects-horizontal .item .name {
    margin-top: 22px;
  }
}

.projects-horizontal .item .description {
  font-size: 18px;
  margin-bottom: 0;
}
.reasons {
  margin-bottom: 100px;
}
/*our services*/
.services, .test {
  margin: 100px 0;
}
.services h4, .test h4 {
  font-size: 50px;
  font-weight: bold;
}
.services .main-card {
  width: 100%;
  margin-top: 60px;
  border-radius: 0;
}
.card-img {
  width: 100%;
  border-radius: 0;
}
.program {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-radius: 0;
}
.check .card-text{
  margin-bottom: 7px;
  font-size: 14px !important;
}

.tag-line{
  color: white;
  font-size: 20px;
}

.intro-h {
  font-size: 50px;
  color: #243665;
}
.intro-d {
  font-size: 35px;
  background: #8bd8bd;
  color: #243665;
  display: inline;
  padding: 5px;
  font-weight: 500;
}
.k-m {
  width: 150px;
  background-color: #243665;
  margin-top: 20px;
  border-radius: o;
  color: white;
}


/*test section */
.test h4{
  color: #243665;
  margin-bottom: 30px;
}
.ps-bt{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.details{
  font-size: 15px;
  color: grey;
}








/*react spinner */
.loading{
  position: absolute;
  left: 50%;
  top: 50%;
}